<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PS JS DEV ENV Learning</title>
</head>
<body>

    <h1>Users</h1>
    <table>
        <thead>
            <th>&nbsp;</th>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
        </thead>
        <tbody id="users"></tbody>
        <% if (!htmlWebpackPlugin.options.testVar) { %>
        <tr>
            <td>
                <a href="http://localhost:3000/?useMockApi=true">Mock</a>
            </td>
            <td>
                <%=htmlWebpackPlugin.options.testVar%>
            </td>
        </tr>
        <% } %>
    </table>
    
</body>
</html>